In [54]:
import pandas as pd
import numpy

In [4]:
dataset = pd.read_csv("C:\\Users\\Anderson Silva\\AppData\\Local\\Programs\\Python\\Python310\\analise-dados\\Exercicios\\tempo.csv", sep = ";")

# Tratamento de Dados NA

In [24]:
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.0       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      menos         64.0     65.0  VERDADEIRO   sim
7        sol         85.0     95.0       FALSO   nao
8        sol         73.5     70.0       FALSO   sim
9      chuva         75.0    200.0       Falso   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao

# Correção de válores NA

In [15]:
dataset.isnull().sum()
#Checagem de valores Nulos

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [8]:
dataset.groupby(['Vento']).size()
#checagem da moda vento

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [9]:
dataset['Vento'].fillna('Falso', inplace = True)
#remoção de NA de vento

In [13]:
mediana = dataset['Umidade'].median()
#retirada da médiana da colúna Umidade para inserção de valores NA
mediana

85.0

In [14]:
dataset['Umidade'].fillna(mediana, inplace = True)
#remoção de NA de Umidade

In [16]:
dataset.isnull().sum()
#Checagem de valores Nulos(2 rodada após remoção)

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

# Checagem de Valores padrão

In [20]:
dataset.loc[ (dataset['Temperatura'] > 130) | (dataset['Temperatura'] < -130 ) ] #checagem de valores temperatura
medianaTemperatura = dataset['Temperatura'].median()

In [23]:
dataset.loc[ (dataset['Temperatura'] == 69.0  ) ,'Temperatura' ] = medianaTemperatura
#substituição de válores pela médiana

In [25]:
dataset.loc[ (dataset['Umidade'] > 100) | (dataset['Umidade'] < 0 ) ]
medianaUmidade = dataset['Umidade'].median()
#checagem de válores de Umidade

In [28]:
dataset.loc[ (dataset['Umidade'] > 100) | (dataset['Umidade'] < 0 ), 'Umidade'] = medianaUmidade
#substituição de válores pela médiana da umidade

In [37]:
dataset.loc[ (dataset['Jogar'] != 'nao') & (dataset['Jogar'] != 'sim') ]
#checagem de sim e não em Jogar ( TUDO CERTO !)

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [38]:
dataset.loc[ (dataset['Aparencia'] != 'nublado') & (dataset['Aparencia'] != 'chuva') & (dataset['Aparencia'] != 'sol') ]

  Aparencia  Temperatura  Umidade       Vento Jogar
6     menos         64.0     65.0  VERDADEIRO   sim

In [55]:
dataset.groupby(['Aparencia']).size()
#visualização da moda

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [56]:
dataset.loc[dataset['Aparencia'] == 'Chuva', 'Aparencia'] = "chuva"
#troca pelo valor da moda

In [48]:
dataset.loc[ (dataset['Vento'] != 'FALSO') & (dataset['Vento'] != 'VERDADEIRO') ]

  Aparencia  Temperatura  Umidade  Vento Jogar
9     chuva         75.0     85.0  Falso   sim

In [51]:
dataset.loc[dataset['Vento'] == 'Falso', 'Vento'] = "FALSO"

In [52]:
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.0       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      chuva         64.0     65.0  VERDADEIRO   sim
7        sol         85.0     95.0       FALSO   nao
8        sol         73.5     70.0       FALSO   sim
9      chuva         75.0     85.0       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao

# FIM!